services:
  transcriber:
    build:
      context: .
      dockerfile: Dockerfile
    image: pyannote-whisper-cpu
    environment:
      HF_TOKEN: "your-token-here"
      HF_HOME: "/workspace/models/"
    command: /workspace/startup.bash
    network_mode: host
    ipc: host
    pid: host
    restart: always
    volumes:
      - type: bind
        source: ./workspace
        target: /workspace
